/***********
Below 1000px (lap-tops)
*************/
@media (max-width: 63em) {
  #about {
    padding-top: 4rem;
  }
  .section-about {
    padding-right: 4rem;
  }
  .img-about {
    width: 90%;
  }
  .text-about {
    line-height: 2.4rem;
  }
  .faculty1 {
    right: 5rem;
  }
  .town-hall {
    left: 10rem;
    top: 0.5rem;
  }
  .imperial-castle {
    right: 6.5rem;
  }
  .lake-malta {
    right: 10rem;
  }
  .old-town {
    right: 10rem;
  }
  .warsaw1-old {
    right: 7.5rem;
  }
  .warsaw2-cafe {
    right: 1px;
  }
}
/***********
Below 768px (tablets)
*************/
@media (max-width: 48em) {
  .hero {
    grid-template-columns: 1fr;
    padding-bottom: 4rem;
  }
  #about {
    padding-top: 24rem;
  }
  .section-about {
    grid-template-columns: 1fr;
    padding-top: 2rem;
  }
  .text-about {
    line-height: 2rem;
  }
  .my-university {
    grid-template-columns: 1fr;
  }
  .text-university {
    line-height: 2rem;
  }
  .gallery {
    grid-template-columns: 1fr;
  }
  .section-poznan-first,
  .section-poznan-second {
    grid-template-columns: 1fr;
  }
  .text-poznan-second {
    grid-row: 2;
  }

  .section-warsaw-first {
    grid-template-columns: 1fr 1fr;
  }
  /***********
Mobile Navigation
*************/
  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }
  .main-nav {
    background-color: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    /* hide navigation */
    opacity: 0;
    pointer-events: none; /* Make it unaccessible to keyboard and mouse */
    visibility: hidden; /*3- Hide it from screen readers*/
  }
  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }
  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }
  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }
  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 2rem;
  }
}
/*  */
/***********
Below 555px (phones)
*************/
@media (max-width: 35em) {
  #about {
    padding-top: 12rem;
  }

  .text-about {
    line-height: 1.6rem;
  }
  .text-university {
    line-height: 1.6rem;
  }
  .section-warsaw-first {
    grid-template-columns: 1fr;
  }
  .img-warsaw1,
  .img-warsaw2 {
    width: 85%;
  }
}
/***********
Below 385px ( small phones)
*************/
@media (max-width: 25em) {
  #about {
    padding-top: 15rem;
  }

  .text-about {
    line-height: 1.3rem;
  }
  .my-university {
    margin-right: 2rem;
  }
  .text-university {
    line-height: 1.3rem;
  }
  .img-faculty-eng {
    width: 100%;
    margin: auto;
    margin-top: 2rem;
  }
  .gallery {
    margin-left: 2rem;
  }
  .gallery img {
    width: 100%;
    /* margin: auto; */
  }
  .facul {
    margin-top: 4rem;
  }
  .faculty {
    right: 10rem;
  }
  .univer {
    margin-top: 4rem;
  }
  .university {
    right: 10rem;
  }
  .dormit {
    margin-top: 4rem;
  }
  .dormitory {
    right: 10rem;
  }
  .section-poznan-first {
    margin-right: 2rem;
    margin-left: 2rem;
  }
  .section-poznan-second {
    margin-right: 2rem;
  }
  .img-poznan1 {
    width: 100%;
    margin: auto;
    margin-top: 2rem;
  }
  .img-castle {
    width: 100%;
    margin: auto;
  }
  .section-poznan-third {
    grid-template-columns: 1fr;
    margin-right: 2rem;
  }
  .img-section-poznan-third {
    width: 98%;
  }
  .section-warsaw-first {
    margin-right: 2rem;
  }
  .img-warsaw1,
  .img-warsaw2 {
    width: 100%;
    /* margin: auto; */
  }
  .img-warsaw2 {
    margin-right: 2rem;
    margin-left: 0;
  }
}
