* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 1em;
}
body {
  overflow-x: hidden;
}
header {
  position: relative;
}
/* section nav */
.main-nav {
  padding: 0.5rem;
  background-color: #fff;
}
.btn-lang {
  position: relative;
}
.btn-lang-en {
  position: absolute;
  right: 3.2rem;
  padding: 2px;
  transition: all 0.5s linear;
}
.btn-lang-tr {
  position: absolute;
  right: 1rem;
  padding: 2px;
}
.btn-lang-en:hover,
.btn-lang-tr:hover {
  color: #fff;
  cursor: pointer;
}

.main-nav-list {
  display: flex;

  align-items: center;
  justify-content: center;
  flex-direction: row;
  list-style: none;
  font-size: calc(2rem+4vw);
  gap: 2.4rem;
}
.main-nav-link {
  display: block;
  text-decoration: none;
  color: #fff;
  background-color: #e41717;
  border-radius: 25%;
  padding: 0.5rem 1.5rem;
}

/* Mobile navigation section */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}
.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}
.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* section hero */
h1 {
  font-size: calc(4rem+8vw);
  font-family: Roboto;
}
.icon-turkflag {
  width: 2.5rem;
  height: 2.5rem;
}
.section-hero {
  max-width: 205vh;
  max-height: 100vh;
  padding: 6rem 2rem 2rem 2rem;

  background-color: #ebe4e4;
  color: #000;
}
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: auto;
  margin-right: 4rem;
  margin-bottom: 2rem;
}
.hero-text-box {
  padding-right: 2rem;
  margin-right: 2rem;
}
.hero-heading {
  font-size: calc(3.6rem+7.2vw);
  margin-top: 3.6rem;
}
.polish-flag {
  width: 2rem;
  height: 2rem;
  padding-left: 0.2rem;
}
.hero-description {
  font-size: calc(3rem+6vw);
  margin-top: 3rem;
  padding-bottom: 2.4rem;
}
.btn {
  font-size: calc(2rem+4vw);
  font-weight: bold;
  text-decoration: none;
}
.hero-image {
  font-size: calc(3rem+6vw);
}
.hero-img2 {
  width: 100%;

  border-radius: 2rem;
  box-shadow: 0 4px 1rem rgba(0, 0, 0, 0.4);
  transition: all 0.4s;
}

.hero-img2:hover {
  transform: scale(1.1);
}

/* Section About */
#about {
  background-color: #ede7e7;
  font-size: calc(3.6rem+7.2vw);
  padding-top: 2rem;
  text-align: center;
}
.abo {
  position: relative;
}
/* .about {
  position: absolute;
  font-size: 3rem;
  right: 40rem;
  top: -1rem;
} */
.section-about {
  background-color: #ede7e7;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding-bottom: 4rem;
  padding-right: 10rem;
}
.img-about {
  width: 70%;
  margin-top: 2rem;
  margin-left: 2rem;
  border-radius: 2rem;
  box-shadow: 0 4px 1rem rgba(0, 0, 0, 0.4);
}

.text-about {
  font-size: calc(3rem+6vw);
  line-height: 3rem;
  margin: 2rem;
}
/* Section my university */
#university {
  background-color: #ede7e7;
  font-size: calc(3.6rem+7.2vw);
  padding: 2rem;
  text-align: center;
  padding-top: 4rem;
}
.amu-logo {
  width: 6rem;
  height: 3rem;
  vertical-align: bottom;
  cursor: pointer;
}
.amu-logo:hover {
  width: 8rem;
  height: 4rem;
}
.section-my-university {
  background-color: #ede7e7;
  padding-bottom: 4rem;
  /* padding-right: 6rem; */
}
.my-university {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-right: 6rem;
  gap: 1rem;
}
.text-university {
  font-size: calc(3rem+6vw);
  line-height: 3rem;
  margin: 2rem;
}
.fac1 {
  position: relative;
}
.faculty1 {
  position: absolute;
  font-size: calc(3rem+6vw);
  right: 20rem;
}
.img-faculty-eng {
  width: 90%;
  margin-left: 2rem;
  margin-top: 2rem;
  border-radius: 2rem;
  box-shadow: 0 4px 1rem rgba(0, 0, 0, 0.4);
}
.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
  margin: 2rem 2rem 0 6rem;
  align-items: center;
  justify-content: center;
}
.gallery img {
  width: 80%;
  border-radius: 2rem;
}
.fac {
  position: relative;
  /* margin-right: 6rem; */
}
.facul {
  margin-top: 2rem;
}
.faculty {
  position: absolute;
  font-size: calc(3rem+6vw);
  right: 20rem;
}
.univ {
  position: relative;
}
.univer {
  margin-top: 2rem;
}
.university {
  position: absolute;
  font-size: calc(3rem+6vw);
  right: 20rem;
}
.dorm {
  position: relative;
}
.dormit {
  margin-top: 2rem;
}
.dormitory {
  position: absolute;
  font-size: calc(3rem+6vw);
  right: 20rem;
}
/* section-Poznan */
#poznan {
  background-color: #ede7e7;
  font-size: calc(3.6rem+7.2vw);
  padding: 2rem;
  text-align: center;
  text-decoration: none !important;
  padding-top: 4rem;
}
.poznan-logo {
  width: 4rem;
  height: 2rem;
  border-radius: 2rem;
  vertical-align: bottom;
  cursor: pointer;
}
.poznan-logo:hover {
  width: 6rem;
  height: 3rem;
}
.section-poznan {
  background-color: #ede7e7;
  padding-top: 4rem;
}
.img-poznan1 {
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  border-radius: 2rem;
  box-shadow: 0 4px 1rem rgba(0, 0, 0, 0.4);
}

.old {
  position: relative;
}
.town-hall {
  position: absolute;
  font-size: calc(3rem+6vw);
  left: 20rem;
  top: 0.5rem;
}
.section-poznan-first {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  padding-bottom: 4rem;
  margin-bottom: 4rem;
  margin-right: 10rem;
  gap: 2rem;
}
.text-poznan-first,
.text-poznan-second {
  font-size: calc(2.6rem+5.2vw);
  margin-top: 2rem;
}
.section-poznan-second {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-left: 2rem;
  margin-right: 4rem;
  padding-bottom: 4rem;
  margin-bottom: 4rem;
}

.img-castle {
  width: 80%;
  border-radius: 2rem;
  box-shadow: 0 4px 1rem rgba(0, 0, 0, 0.4);
  margin-top: 2rem;
  margin-left: 4rem;
}

.castle {
  position: relative;
}
.imperial-castle {
  position: absolute;
  font-size: calc(3rem+6vw);
  right: 25rem;
}
.section-poznan-third {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
  margin-left: 2rem;
  padding-bottom: 2rem;
}
.img-section-poznan-third {
  width: 80%;
  border-radius: 2rem;
  box-shadow: 0 4px 1rem rgba(0, 0, 0, 0.4);
}
.park {
  margin-top: 2rem;
}

.first {
  position: relative;
}
.citadel-park {
  position: absolute;
  left: 10rem;
  font-size: calc(3rem+6vw);
}
.lake {
  margin-top: 2rem;
}
.second {
  position: relative;
}
.lake-malta {
  position: absolute;
  font-size: calc(3rem+6vw) m;
  right: 20rem;
}
.avm {
  margin-top: 2rem;
}
.third {
  position: relative;
}
.stary-mall {
  position: absolute;
  font-size: calc(3rem+6vw);
  left: 10rem;
}
.town {
  margin-top: 2rem;
}
.fourth {
  position: relative;
}
.old-town {
  position: absolute;
  font-size: calc(3rem+6vw);
  right: 20rem;
}

/* Section Warsaw */
#warsaw {
  background-color: #ede7e7;
  font-size: calc(3.6rem+7.2vw);
  padding-top: 4rem;
  text-align: center;
  text-decoration: none !important;
  padding-top: 4rem;
}
#warsaw:hover {
  font-size: calc(4.2rem+8.4vw);
}
.logo-warsaw {
  width: 3rem;
  height: 3rem;
  vertical-align: bottom;
  border-radius: 50%;
  cursor: pointer;
}

.logo-warsaw:hover {
  width: 4.5rem;
  height: 4.5rem;
}
.section-warsaw {
  background-color: #ede7e7;
  padding-top: 4rem;
  padding-left: 2rem;
  padding-bottom: 4rem;
}
.section-warsaw-first {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-right: 10rem;
}
.img-warsaw1 {
  width: 70%;
  margin-top: 3rem;
  border-radius: 2rem;
}
.text-warsaw {
  font-size: calc(3rem+6vw);
  margin-top: 2rem;
}
.img-warsaw2 {
  width: 70%;
  margin-top: 3rem;
  margin-left: 10rem;
  border-radius: 2rem;
}
.war1 {
  position: relative;
}
.warsaw1-old {
  position: absolute;
  font-size: calc(2rem+4vw);
  right: 15rem;
  top: 1rem;
}
.war2 {
  position: relative;
}
.warsaw2-cafe {
  position: absolute;
  font-size: calc(2rem+4vw);
  right: 5rem;
  top: 1rem;
}
