* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
.main-nav {
  padding: 0.5rem;
  background-color: #fff;
}
.main-nav-list {
  display: flex;

  align-items: center;
  justify-content: center;
  flex-direction: row;
  list-style: none;
  font-size: 2rem;
  gap: 2.4rem;
}
.main-nav-link {
  display: block;
  text-decoration: none;
  color: #fff;
  background-color: #e41717;
  border-radius: 25%;
  padding: 0.5rem 1.5rem;
}
h1 {
  font-size: 4rem;
  font-family: Roboto;
}
.icon-turkflag {
  width: 2.5rem;
  height: 2.5rem;
}
.section-hero {
  width: 195vh;
  height: 100vh;
  padding: 6rem 4rem 0 2rem;

  background-color: #ebe4e4;
  color: #000;
}
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: auto;
}
.hero-text-box {
  padding-right: 2rem;
  margin-right: 2rem;
}
.hero-heading {
  font-size: 3.6rem;
  margin-top: 3.6rem;
}
.polish-flag {
  width: 2rem;
  height: 2rem;
  padding-left: 0.2rem;
}
.hero-description {
  font-size: 3rem;
  margin-top: 3rem;
  padding-bottom: 2.4rem;
}
.btn {
  font-size: 2rem;
  font-weight: bold;
}
.hero-images {
}
.hero-image {
  font-size: 3rem;
}
.hero-img2 {
  width: 100%;

  border-radius: 2rem;
  box-shadow: 0 4px 1rem rgba(0, 0, 0, 0.4);
  transition: all 0.4s;
}

.hero-img2:hover {
  transform: scale(1.1);
}

/* Section About */
#about {
  background-color: #ede7e7;
  font-size: 3.6rem;
  padding: 4rem;
  text-align: center;
}
.abo {
  position: relative;
}
.about {
  position: absolute;
  font-size: 3rem;
  right: 40rem;
  top: -1rem;
}
.section-about {
  background-color: #ede7e7;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding-bottom: 4rem;
}
.img-about {
  width: 70%;
  margin-top: 2rem;
  margin-left: 2rem;
  border-radius: 2rem;
  box-shadow: 0 4px 1rem rgba(0, 0, 0, 0.4);
}

.text-about {
  font-size: 3rem;
  line-height: 4rem;
  margin: 2rem;
}
/* Section my university */
#university {
  background-color: #ede7e7;
  font-size: 3.6rem;
  padding: 2rem;
  text-align: center;
  padding-top: 4rem;
}
.amu-logo {
  width: 10rem;
  height: 5rem;
  vertical-align: bottom;
}
.amu-logo:hover {
  width: 12rem;
  height: 6rem;
}
.section-my-university {
  background-color: #ede7e7;
  padding-bottom: 4rem;
}
.my-university {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.text-university {
  font-size: 3rem;
  line-height: 4rem;
  margin: 2rem;
}
.img-faculty-eng {
  width: 90%;
  margin-left: 2rem;
  margin-top: 4rem;
  border-radius: 2rem;
  box-shadow: 0 4px 1rem rgba(0, 0, 0, 0.4);
}
.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
  margin: 2rem 2rem 0 8rem;
  align-items: center;
  justify-content: center;
}
.gallery img {
  width: 80%;
  border-radius: 2rem;
}
.fac {
  position: relative;
}
.facul {
  margin-top: 4rem;
}
.faculty {
  position: absolute;
  font-size: 3rem;
  right: 40rem;
}
.univ {
  position: relative;
}
.univer {
  margin-top: 4rem;
}
.university {
  position: absolute;
  font-size: 3rem;
  right: 40rem;
}
.dorm {
  position: relative;
}
.dormit {
  margin-top: 4rem;
}
.dormitory {
  position: absolute;
  font-size: 3rem;
  right: 40rem;
  /* top: 0.5rem; */
}
/* section-Poznan */
#poznan {
  background-color: #ede7e7;
  font-size: 3.6rem;
  padding: 2rem;
  text-align: center;
  text-decoration: none !important;
  padding-top: 4rem;
}
#poznan:hover {
  font-size: 4.2rem;
}
.section-poznan {
  background-color: #ede7e7;
  padding-top: 4rem;
}
.img-poznan1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  border-radius: 2rem;
  box-shadow: 0 4px 1rem rgba(0, 0, 0, 0.4);
}

.old {
  position: relative;
}
.town-hall {
  position: absolute;
  font-size: 3rem;
  left: 20rem;
  top: 0.5rem;
}
.section-poznan-first {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  padding-bottom: 4rem;
}
.text-poznan-first,
.text-poznan-second {
  font-size: 3rem;
  text-align: center;
  justify-content: center;
  margin-top: 2rem;
}
.section-poznan-second {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-left: 2rem;
  padding-bottom: 2rem;
  justify-content: center;
  text-align: center;
}
.img-castle {
  width: 80%;
  border-radius: 2rem;
  box-shadow: 0 4px 1rem rgba(0, 0, 0, 0.4);
  margin-top: 4rem;
}

.castle {
  position: relative;
}
.imperial-castle {
  position: absolute;
  font-size: 3rem;
  right: 15rem;
}
.section-poznan-third {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
  margin-left: 2rem;
}
.img-section-poznan-third {
  width: 80%;
  order-radius: 2rem;
  box-shadow: 0 4px 1rem rgba(0, 0, 0, 0.4);
}
.park {
  margin-top: 4rem;
}

.first {
  position: relative;
}
.citadel-park {
  position: absolute;

  left: 21rem;
  font-size: 3rem;
}
.lake {
  margin-top: 4rem;
}
.second {
  position: relative;
}
.lake-malta {
  position: absolute;
  font-size: 3rem;
  right: 40rem;
}
.avm {
  margin-top: 4rem;
}
.third {
  position: relative;
}
.stary-mall {
  position: absolute;
  font-size: 3rem;
  left: 21rem;
}
.town {
  margin-top: 4rem;
}
.fourth {
  position: relative;
}
.old-town {
  position: absolute;
  font-size: 3rem;
  right: 40rem;
}
